################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
SynchronousRisk/bin/Debug/*
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/CodeChunks.db
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/SynchronousRisk/.vs/SynchronousRisk/v17/.suo
/SynchronousRisk/.vs/SynchronousRisk/v17/DocumentLayout.backup.json
/SynchronousRisk/.vs/SynchronousRisk/v17/DocumentLayout.json
/SynchronousRisk/obj/Debug/SynchronousRisk.csproj.GenerateResource.cache
/SynchronousRisk/obj/Debug/SynchronousRisk.exe
/SynchronousRisk/obj/Debug/SynchronousRisk.pdb
/SynchronousRisk/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SynchronousRisk/bin/Debug/SynchronousRisk.exe
/SynchronousRisk/bin/Debug/SynchronousRisk.pdb
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices
SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.13.444.19527/CodeChunks.db
SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices
