################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
SynchronousRisk/bin/Debug/*
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/CodeChunks.db
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/SynchronousRisk/.vs/SynchronousRisk/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/SynchronousRisk/.vs/SynchronousRisk/v17/.suo
/SynchronousRisk/.vs/SynchronousRisk/v17/DocumentLayout.backup.json
/SynchronousRisk/.vs/SynchronousRisk/v17/DocumentLayout.json
